<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Task Manager App: All Tasks</title>
  </head>
  <body>

    <h1>All Tasks</h1>

    <% @tasks.each do |task| %>
      <h3><%= task %></h3>
    <% end %>

  </body>
</html>
