<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Task Manager App: All Tasks</title>
  </head>
  <body>

    <h1>All Tasks</h1>

    <% @tasks.each do |task| %>
      <h3><a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
      <p><%= task.description %></p>
    <% end %>

  </body>
</html>
