<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Individual Task: <%= @task.title %></title>
  </head>
  <body>

    <a href="/tasks">Task Index</a>

    <h1><%= @task.title %></h1>

    <p><% @task.description %></p>

  </body>
</html>
